<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
 <preference for="Magento\Customer\Block\Account\AuthorizationLink" type="Custom\Checkoutform\Block\Account\AuthorizationLink" />
 <!-- <preference for="Magento\Customer\Model\Url" type="Custom\Checkoutform\Model\Url" /> -->
   <!-- <type name="\Magento\Customer\Controller\Account\Login">
       <plugin name="Custom_checkoutform_login" type="\Custom\Checkoutform\Plugin\LoginPlugin" sortOrder="1" />
  </type> -->
  <type name="CheckoutCom\Magento2\Model\Service\CardHandlerService">
        <plugin name="AddMadaIcon" type="Custom\Checkoutform\Plugin\CardHandlerService" sortOrder="1" />
    </type>
    </config>