<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="checkout_layout"
                type="Evincemage\City\Plugin\LayoutProcessor" sortOrder="999"/>
    </type>
    <!-- <type name="Magento\Checkout\Block\Onepage">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="cityData" xsi:type="object">Evincemage\City\Block\Checkout\CityDataProcessor</item>
            </argument>
        </arguments>
    </type> -->
</config>
