<?xml version="1.0"?>
<!--
  Copyright © 2018 Wyomind. All rights reserved.
  See LICENSE.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Wyomind_ElasticsearchCore::main" title="Elasticsearch" sortOrder="10">
                    <resource id="Wyomind_ElasticsearchCore::indexer" title="Indexer" sortOrder="10" />
                    <resource id="Wyomind_ElasticsearchCore::browse" title="Browse Indexes" sortOrder="20" />
                    <resource id="Wyomind_ElasticsearchCore::global" title="Manage Configuration" sortOrder="30" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>