<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="sparsh" translate="label" sortOrder="500">
            <label>Evincemage Extensions</label>
        </tab>
        <section id="emacart" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Abandoned Cart Extended</label>
            <tab>sparsh</tab>
            <resource>Evincemage_AmastyAcartExtended::emacart</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Email Products You May Like Settings</label>
                <field id="product_skus" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Product SKU's</label>
                    <comment>Enter comma seperated valid skus to show in email</comment>
                </field>
            </group>
        </section>
    </system>
</config>             