<?xml version="1.0"?>
<!--
/**
 * Copyright © 2020 Hoang Phan. All rights reserved.
 * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
 *
 * Glory to ManUtd! Glory to the heroes!
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Lotus_OverrideRulesCondition" setup_version="1.0.0">
    </module>
</config>
